@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  user-select: none;
}

button {
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar{
  display: none;
}

.capitalize {
  text-transform: capitalize;
}
.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: space-center;
}
.align-items-center{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}