.search-songs {
    border-radius: 45px;
    background: #633bc9;
    padding: 10px 20px; 
    width: 370px;
    height: 45px;   
    border: none;
    outline: none; 
    margin-top: .75rem;
    font-size: 1.1rem;
}

.search-songs::placeholder {
    color: #b6a0e8;
    opacity: 1; /* Firefox */
    font-size: 1.1rem;
  }

.songs-heading{
    font-size: 2rem;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
}

.songs-card-glass{
    top: -75px;
    align-items: center;
    max-height: 86vh; 
}

.songs-list{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.songs-heading > button {
    height: fit-content;
}