.songlist-card{
    min-height: 60px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 25px 5px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: .1s;
    cursor: pointer;
}
.songlist-card-2 > .far, .fas {
    z-index: 11;
}
.songlist-card-2{
    width: 70px;
    display: none;
}

.songlist-card-img{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    border-radius: 5px;
}
.songlist-name{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.songlist-artist{
    font-size: .65rem;
    letter-spacing: 1px;
    font-weight: 200;
    color : rgba(255, 255, 255, 0.73);
}

.songlist-card:hover{
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.songlist-card:hover > .songlist-card-2{
    display: flex;
}