* {
    /* box-sizing: border-box; */
    letter-spacing: 0.03em;
}

.profile-page{
    min-height: 100vh;
}

.top-background {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: 400px;
    width: 100%;
    background: linear-gradient(149deg, rgba(107,60,241,1) 10%, rgb(81, 41, 192) 29%, rgba(15,13,16,1) 100%);
    box-sizing: border-box;
    padding-top: 2.5em;
    padding-left: 3em;
    position: relative;
}

.back-icon {
    height: 40px;
    cursor: pointer;
    position: absolute;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-heading {
    font-weight: 700;
    font-size: 24px;
    margin: 10px 0;
}

.bottom-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d0d0d;
    width: 100%;
    height: auto;
    border-radius: 22px 22px 0 0;
    position: relative;
    top: -80px;
    padding-top: 7em;
}

.profile-card-glass {
    background: linear-gradient(105.49deg, rgba(255, 255, 255, 0.32) 9.13%, rgba(255, 255, 255, 0.08) 65.38%);
    backdrop-filter: blur(30px);
    border-radius: 28px;
    position: absolute;
    top: -195px;
    width: 75%;
    display: flex;
    padding: 2em 3em;
}

.right-info-section {
    padding: 1em 0 0 2em;
    width: 100%;
}

.user-photo-container {
    position: relative;
    clip-path: circle(49% at 50% 50%);
}

.user-photo {
    height: 155px;
}

.logout-btn {
    font-size: 1rem;
    border-radius: 2rem;
    padding: .5rem 1rem;
    background-color: white;
    color: black;
    font-weight: 600;
}

.edit-overlay {
    position: absolute;
    bottom: -59px;
    height: 100px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    transform: translateY(45px);
    transition: transform 0.8s ease;
    cursor: pointer;
}

.edit-overlay img {
    height: 20px;
    color: #363636;
    position: relative;
    top: 8px;
}

.user-photo-container:hover .edit-overlay{
    transform: translateY(0px);
}

.user-name {
    font-weight: 600;
    font-size: 56.5973px;
    letter-spacing: 0.03em;
}

.artist-tag {
    width: 76.5px;
    height: 27px;
    background: rgba(196, 196, 196, 0.24);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
}

.bottom-right-section {
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stats {
    opacity: 0.63;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}

.dot {
    height: 5px;
    width: 5px;
    background: white;
    opacity: 0.63;
    border-radius: 50%;
    margin: 0 5px;
}

.publish-btn {
    background: rgba(196, 196, 196, 0.24);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    width: 100px;
    font-weight: 500;
    font-size: 15px;
}

.edit-icon {
    position: absolute;
    right: 3em;
    cursor: pointer;
}

.song-section {
    display: flex;
    flex-direction: column;
    width: 84.2%;
}

.category {
    position: relative;
}

.category:not(:first-child) {
    margin-top: 30px;
}

.category-name {
    font-weight: 600;
    font-size: 30px;
}

.song-list {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    width: min-content;
    overflow-x: scroll;
    max-width: 100%;
}

.playlist {
    min-width: 150px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 3px;
    padding: 1em 14px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
}


.show-more-btn {
    background: transparent;
    opacity: 0.6;
    margin-top: 10px;
    position: absolute;
    right: 0;
}

.fa-sign-out-alt{
    height: fit-content;
}