.wave-animation {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Line_1 {
  animation: pulse 1s;
  animation-delay: calc(1 * 0.15s);
}

#Line_2 {
  animation: pulse 1s;
  animation-delay: calc(2 * 0.15s);
}

#Line_3 {
  animation: pulse 1s;
  animation-delay: calc(3 * 0.15s);
}

#Line_4 {
  animation: pulse 1s;
  animation-delay: calc(4 * 0.15s);
}

#Line_5 {
  animation: pulse 1s;
  animation-delay: calc(5 * 0.15s);
}

#Line_6 {
  animation: pulse 1s;
  animation-delay: calc(6 * 0.15s);
}

#Line_7 {
  animation: pulse 1s;
  animation-delay: calc(7 * 0.15s);
}

#Line_8 {
  animation: pulse 1s;
  animation-delay: calc(8 * 0.15s);
}

#Line_9 {
  animation: pulse 1s;
  animation-delay: calc(9 * 0.15s);
}

@keyframes pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}
