

.brand{
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 0.25vw;
  font-weight: 600;
  position: relative;
}

.brand:after {
  content:"";
  background: -webkit-linear-gradient(left, white 0%,  transparent 100%);
  display: block;
  height:3px;
  width: 150px;
  position: absolute;
  bottom: 0;
  border-radius: 3px;
}

.navbar{
  box-sizing: border-box;
  position: fixed;
  top:0;
  /* background: #384e57; */
  color:white;
  z-index: 10;
  padding: 1rem 10vw;
  width: 100%;
}


.nav-content {
  position: relative;
}

.nav-item{
  font-size: .9rem;
  letter-spacing: 0.1vw;
  margin: 0 1vw;
  padding: 0.3vh 0.5vw;
  box-sizing: border-box;
  border-radius: 0.5rem;
  cursor: pointer;
}

.nav-item-login{
  font-size: 1rem;
  border-radius: 2rem;
  padding: .5rem 1rem;
  background-color: white;
  color: black;
  font-weight: 600;
}

.nav-line {
  height: 30px;
  width: 1px;
  background: white;
  opacity: 0.7;
}

.login-text {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

@media screen and (max-width:568px){
  .navbar{
      padding: .675rem 5vw;
  }
}

.navbar-options{
  min-width: 500px;
}

.navbar-options > span{
  cursor: pointer;
  font-size: 16px;
}

.navbar-search{
  /* width: 185px;
  height: 34px; */
  padding: 7px 20px;
  background: rgba(196, 196, 196, 0.24);
  border-radius: 15.6233px;
  color: #9b9b9b;
}

.navbar-search > .fas {
  color: #9b9b9b;
}

.nav-item-logout{
  font-size: 1rem;
  border-radius: 2rem;
  padding: .5rem .75rem;
  background: linear-gradient(105.49deg, rgba(255, 255, 255, 0.32) 9.13%, rgba(255, 255, 255, 0.08) 65.38%);
  backdrop-filter: blur(11.6279px);
  color: black;
  font-weight: 600;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  transition: opacity 0.8s;
  /* background: linear-gradient(90.02deg, #CEA1D8 2.09%, #7F42F7 19.88%, #6B3CF1 35.33%, #B52CBB 73.99%, #EF6EDA 84.58%, #F4AAE8 92.81%); */
  background: linear-gradient(105.49deg, rgba(255, 255, 255, 0.32) 9.13%, rgba(255, 255, 255, 0.08) 65.38%);
  backdrop-filter: blur(5px);
}